* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1e1f20;
  color: white;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;

  .Hackodisha-container {
    font-size: 5rem;
    font-weight: 800;
    margin-top: 5vh;
    margin-bottom: 10px;
  }

  .hack {
    color: #ffffff;
  }
  .odisha {
    color: #ff0000;
  }

  // for date component

  .date-component {
    font-size: 2rem;
  }

  .paragraph {
    // text-align: justify;
    padding: 0 10px;
    margin: 5vh 10vw;
    font-size: 2rem;
  }

  // for card component

  // social media links

  .social {
    display: flex;
    justify-content: center;

    .social-links-container {
      // width: 80vw;
      display: flex;
      //margin: 10vh 20vw;
      flex-wrap: wrap;
      text-decoration: none;
      justify-content: center;

      .box-img-container {
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        width: fit-content;
        height: fit-content;

        .box-img{
            width: 30%;
            background-color: transparent;
            
        }

        .box-img-jarvis{
            width: 60%;
            background-color: transparent;
        }
        .box-img-apply-with-devfolio{
            width: 70%;
            height: 50px;
            background-color: transparent;

        }

        .box-content {
          // position:  fixed;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: black;
          width: max-content;
          height: max-content;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 500;
          margin-top: 30px;
        }
      }
    }
  }

  // .social {
  //
  // }

  // .social-links-container a {
  //     margin: 10px ;
  // }

  // @media screen and (max-width: 1368 px) {
  //     .social-links-container{
  //         grid-template-columns: repeat(3, 1fr);
  //     }
  // }
}
